---
import Nav from '../components/Nav.astro';
import Footer from '../components/Footer.astro';
---
<Nav/>
<style>
    @import url(https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.3.45/css/materialdesignicons.min.css);
</style>
<section class="mb-10 p-5 text-gray-800 font-bold container mx-auto mt-5 text-center bg-gray-300 rounded-md">
    <h1>
        Nuestra agencia ofrece dos opciones de trabajo:
    </h1>
    <ol class="text-left py-5">
        <li>
            1.- Paquete O Iguala: Una opción económica que brinda un servicio mensual
            a nuestros clientes, optimizando resultados mediante el seguimiento de 
            campañas y estrategias de Marketing para satisfacer sus necesidades y proyectos de negocio.
        </li>
        <br/>
        <li>
            2.- Proyecto único: Realizamos proyectos específicos en una sola ocasión.
        </li>
    </ol>
</section>

<div class=" rounded-lg min-w-screen min-h-screen bg-gray-600 px-5 py-5">

    <div class="rounded-xl w-full mx-auto bg-white px-5 py-10 text-gray-600">
        <div class="max-w-5xl mx-auto md:flex">
            <div class="md:w-1/4 md:flex md:flex-col">
                <div class="text-left w-full flex-grow md:pr-5">
                    <h1 class="text-4xl font-bold mb-5">Iguala</h1>
                    <h3 class="text-md font-medium mb-5">-Servicio Mensual <br/>
                        -Ponemos a disposición todas nuestras herramientas durante la vigencia del contrato<br/>
                        -Mejor precio <br/>
                        -Optimizacion de Campañas<br/>
                        -Planes desde 90 Días en adelante <br/>
                        
                        </h3>
                </div>
                <div class="w-full mb-2">
                    <p class="text-xs mb-5">  
                        No incluyen IVA* en caso de requerir factura
                    </p>
                </div>
            </div>
            <div class="md:w-3/4">
                <div class="max-w-4xl mx-auto md:flex">
                    <div class="w-full md:w-1/3 md:max-w-none bg-white px-8 md:px-10 py-8 md:py-10 mb-3 mx-auto md:my-2 rounded-md shadow-lg shadow-gray-600 md:flex md:flex-col">
                        <div class="w-full flex-grow">
                            <h2 class="text-center font-bold uppercase mb-4">Paquete 1</h2>
                            <h3 class="text-center font-bold text-xl mb-5">$9,500 MXN<span class="text-sm">/mes</span></h3>   
                            <ul class="text-sm mb-8">
                                <li class="leading-tight"><i class="mdi mdi-check-bold text-lg"></i>Recorrido para fotografía de 10 propiedades.</li>
                                <li class="leading-tight"><i class="mdi mdi-check-bold text-lg"></i>Contenido a discreción para humanizar la marca. </li>
                                <li class="leading-tight"><i class="mdi mdi-check-bold text-lg"></i>Contenido a discreción para humanizar la marca. </li>
                                <li class="leading-tight"><i class="mdi mdi-check-bold text-lg"></i>Administacion de campañas publicitarias </li>
                                <li class="leading-tight"><i class="mdi mdi-check-bold text-lg"></i>Campaña de regalo con alcance de 10,000 a 20,000 vistas.</li>
                            </ul>
                        </div>
                        <div class="w-full">
                            <a href="https://api.whatsapp.com/send?phone=528119162937&text=Buenas tardes me interesa el paquete 1 de su Página Web" target="_blank" class="font-bold bg-gray-600 hover:bg-gray-700 text-white rounded-md px-10 py-2 transition-colors w-full">
                                Contáctanos
                            </a>
                        </div>
                    </div>
                    <div class="w-full md:w-1/3 md:max-w-none bg-white px-8 md:px-10 py-8 md:py-10 mb-3 mx-auto md:-mx-3 md:mb-0 rounded-md shadow-lg shadow-gray-600 md:relative md:z-50 md:flex md:flex-col">
                        <div class="w-full flex-grow">
                            <h2 class="text-center font-bold uppercase mb-4">Paquete 2</h2>
                            <h3 class="text-center font-bold text-xl mb-5">$16,500 MXN<span class="text-sm">/mes</span></h3>
                            <ul class="text-sm mb-8">
                                <li class="leading-tight"><i class="mdi mdi-check-bold text-lg"></i> Recorrido para fotografía de 10 propiedades.</li>
                                <li class="leading-tight"><i class="mdi mdi-check-bold text-lg"></i> Contenido a discreción para humanizar la marca.</li>
                                <li class="leading-tight"><i class="mdi mdi-check-bold text-lg"></i> Mantenimiento de Redes Sociales para optimización de aterrizaje de clientes.</li>
                                <li class="leading-tight"><i class="mdi mdi-check-bold text-lg"></i> Administración de campañas publicitarias</li>
                                <li class="leading-tight"><i class="mdi mdi-check-bold text-lg"></i> Campaña de regalo con alcance de 25,000 a 50,000 vistas.</li>
                                <li class="leading-tight"><i class="mdi mdi-check-bold text-lg"></i> CRM para dar seguimiento a los clientes.</li>
                            </ul>
                        </div>
                        <div class="w-full">
                            <a href="https://api.whatsapp.com/send?phone=528119162937&text=Buenas tardes me interesa el paquete 2 de su Página Web" target="_blank" class="font-bold bg-gray-600 hover:bg-gray-700 text-white rounded-md px-10 py-2 transition-colors w-full">
                                Contáctanos
                            </a>
                        </div>
                    </div>
                    <div class="w-full md:w-1/3 md:max-w-none bg-white px-8 md:px-10 py-8 md:py-10 mb-3 mx-auto md:my-2 rounded-md shadow-lg shadow-gray-600 md:flex md:flex-col">
                        <div class="w-full flex-grow">
                            <h2 class="text-center font-bold uppercase mb-4">Paquete 3 </h2>
                            <h3 class="text-center font-bold text-xl mb-5">$20,000 MXN<span class="text-sm">/mes</span></h3>
                            <ul class="text-sm mb-8">
                                <li class="leading-tight"><i class="mdi mdi-check-bold text-lg"></i> 4 Videoclips promocionales de 2 - 3 minutos.</li>
                                <li class="leading-tight"><i class="mdi mdi-check-bold text-lg"></i> Contenido a discreción para humanizar la marca</li>
                                <li class="leading-tight"><i class="mdi mdi-check-bold text-lg"></i> Administración de campañas publicitarias</li>
                                <li class="leading-tight"><i class="mdi mdi-check-bold text-lg"></i> Campaña de regalo con alcance de 80,000 a 100,000 vistas.</li>
                                <li class="leading-tight"><i class="mdi mdi-check-bold text-lg"></i> Mantenimiento de Redes Sociales</li>
                            </ul>
                        </div>
                        <div class="w-full">
                            <a href="https://api.whatsapp.com/send?phone=528119162937&text=Buenas tardes me interesa el paquete 3 de su Página Web" target="_blank" class="font-bold bg-gray-600 hover:bg-gray-700 text-white rounded-md px-10 py-2 transition-colors w-full">
                                Contáctanos
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="rounded-lg min-w-screen min-h-screen bg-slate-600 mt-10 px-5 py-5">

    <div class="rounded-xl w-full mx-auto bg-white px-5 py-10 text-gray-600 mb-10">
        <div class="max-w-5xl mx-auto md:flex">
            <div class="md:w-1/4 md:flex md:flex-col">
                <div class="text-left w-full flex-grow md:pr-5">
                    <h1 class="text-4xl font-bold mb-5">Proyecto</h1>
                    <h3 class="text-md font-medium mb-5">-Trabajos específicos <br/>
                        -Edición <br/>
                        - Video <br/>
                        -Fotografía <br/>
                        -Pago por evento <br/>
                    </h3>
                </div>
                <div class="w-full mb-2">
                    <p class="text-xs mb-5">
                        No incluyen IVA* en caso de requerir factura
                    </p>
                </div>
            </div>
            <div class="md:w-3/4">
                <div class="max-w-4xl mx-auto md:flex">
                    <div class="w-full md:w-1/3 md:max-w-none bg-white px-8 md:px-10 py-8 md:py-10 mb-3 mx-auto md:my-2 rounded-md shadow-lg shadow-gray-600 md:flex md:flex-col">
                        <div class="w-full flex-grow">
                            <h2 class="text-center font-bold uppercase mb-4">Video con Dron y Camára Profesional </h2>
                            <h3 class="text-center font-bold text-2xl mb-5">$3,900 MXN </h3>
                            <ul class="text-sm mb-8">
                                <li class="leading-tight"><i class="mdi mdi-check-bold text-lg"></i> Videoclip promocional de 2 - 3 minutos. </li>
                                <li class="leading-tight"><i class="mdi mdi-check-bold text-lg"></i> 1 visita de producción</li> 
                            </ul>
                        </div>
                        <div class="w-full">
                            <a href="https://api.whatsapp.com/send?phone=528119162937&text=Buenas tardes tardes visité su web y me interesa el vídeo con dron y camára profesional" target="_blank" class="font-bold bg-gray-600 hover:bg-gray-700 text-white rounded-md px-10 py-2 transition-colors w-full">
                                Contáctanos
                            </a>
                        </div>
                    </div>
                    <div class="w-full md:w-1/3 md:max-w-none bg-white px-8 md:px-10 py-8 md:py-10 mb-3 mx-auto md:-mx-3 md:mb-0 rounded-md shadow-lg shadow-gray-600 md:relative md:z-50 md:flex md:flex-col">
                        <div class="w-full flex-grow">
                            <h2 class="text-center font-bold uppercase mb-4">Sesión Fotografíca </h2>
                            <h3 class="text-center font-bold text-2xl mb-5">$2,500 MXN <span class="text-sm"></h3>
                            <ul class="text-sm mb-8">
                                <li class="leading-tight"><i class="mdi mdi-check-bold text-lg"></i> 100 Fotos</li>
                                <li class="leading-tight"><i class="mdi mdi-check-bold text-lg"></i> 1 Toma con dron </li>
                            </ul>
                        </div>
                        <div class="w-full">
                            <a href="https://api.whatsapp.com/send?phone=528119162937&text=Buenas tardes tardes visité su web y me interesa la sesión fotografíca" target="_blank" class="font-bold bg-gray-600 hover:bg-gray-700 text-white rounded-md px-10 py-2 transition-colors w-full">
                                Contáctanos
                            </a>
                        </div>
                    </div>
                    <div class="w-full md:w-1/3 md:max-w-none bg-white px-8 md:px-10 py-8 md:py-10 mb-3 mx-auto md:my-2 rounded-md shadow-lg shadow-gray-600 md:flex md:flex-col">
                        <div class="w-full flex-grow">
                            <h2 class="text-center font-bold uppercase mb-4">Edición de Video </h2>
                            <h3 class="text-center font-bold text-2xl mb-5">$1,900 MXN </h3>
                            <ul class="text-sm mb-8">
                                <li class="leading-tight"><i class="mdi mdi-check-bold text-lg"></i> 4 HRS de Edición de Video </li>
                            </ul>
                        </div>
                        <div class="w-full">
                            <a href="https://api.whatsapp.com/send?phone=528119162937&text=Buenas tardes visité su web y me interesa la edición de vídeo" target="_blank" class="font-bold bg-gray-600 hover:bg-gray-700 text-white rounded-md px-10 py-2 transition-colors w-full">
                                Contáctanos
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
    
</div>
<Footer/>