---
import Nav from '../components/Nav.astro';
import Footer from '../components/Footer.astro';
import Card from '../components/Card.astro';
---
<Nav/>
<section class="container mx-auto mt-5 text-center">
    <ul class="flex flex-wrap">
        
        <Card REDIRECCION="https://www.instagram.com/p/CvK7F4jLtOu/" IMG="portafolio/Puerto.png" 
        CONTENIDO="Puerto de Altamira a la nueva central termoeléctrica de Durango." />

        <Card REDIRECCION="https://www.instagram.com/p/CoGdyXiujPH/" IMG="portafolio/TrenMaya.png" 
        CONTENIDO="Avance de la construcción del tren Maya" />

        <Card REDIRECCION="https://www.instagram.com/p/CqV6l2lpz-I/" IMG="portafolio/RealtyWorld.png" 
        CONTENIDO="Realty World Koinox / Terrenos en Colorines" />

        <Card REDIRECCION="https://www.instagram.com/p/CoDIk4gJ1En/" IMG="portafolio/Blindados.png" 
        CONTENIDO="Proceso fabricación de blindados" />

        <Card REDIRECCION="https://www.instagram.com/p/CkMsodlL22I/" IMG="portafolio/ValleAlto.png" 
        CONTENIDO="Club de Golf Valle Alto" />

        <Card REDIRECCION="https://www.instagram.com/p/Cm69qQrDEwQ/" IMG="portafolio/Constect.png" 
        CONTENIDO="Constect Construcciones" />
        
         
    </ul>  
</section>
<Footer/>
